header{
        background-color: rgba(228, 168, 40, 0.76);  
        font-size: larger;
        color:rgba(39, 26, 6, 0.986); 
       border: 30px;
        border-top: 30px solid rgb(39, 21, 5);
        border-bottom: 30px solid rgb(39, 21, 5);
        margin-bottom: 40px;
        font-family: 'Rubik Wet Paint', cursive;
}
h3{
        font-family: 'Gloria Hallelujah', cursive;
}
html{
        background-color: rgba(243, 241, 148, 0.884);
}
h3{
        background-color: #e9ebcc;
        border: 4px solid black;
        padding: 20px ;
        border-radius: 20px;
}
h2{
        color:rgb(34, 28, 20);
        font-family: 'Poppins', sans-serif;
        margin:0%;
}
.container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 400px 200px;
        gap:20px;
}
